@model IEnumerable<SubCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhiteBorder">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-info">Menü Listesi</h2>
        </div>
        <div class="col-md-6 text-right">
            <partial name="_CreateButtonPartial" />
        </div>
        <br />
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(i => i.Name)</th>
                        <th>@Html.DisplayNameFor(i => i.Category.Name)</th>
                        <th>Update-Details-Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(i => item.Name)</td>
                            <td>@Html.DisplayFor(i => item.Category.Name)</td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>There is not menu</p>
        }
    </div>
</div>
